<html>
  <head>
    <title>ToDo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        margin:0;
        padding:0;
        width:200px;
      }
      li {
        clear: both;
      }
      li button {
        background-color: #fff;
        -webkit-appearance: none;
        border: none;
        outline: none;
        color:red;
        float: right;
        cursor: pointer;
        font-size:20px;
      }
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>

  <body>
    <div class="lists-wrapper">
      <ul id="lists">
        {% for list in lists %}
        <li>
          <a href="/lists/{{list.id}}">{{ list.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="todos-wrapper">
      <h4>{{ active_list.name }}</h4>
      <form id="form" >
        <div>
          <label for="name">Create a To-Do Item</label>
          <input type="text" id="description" name="description" />
        </div>
        <input type="submit" id="submit" value="create" />
      </form>
      <div id="error" class="hidden"">Something went wrong!</div>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input class="check-completed" data-todo-id="{{todo.id}}" type="checkbox" {% if todo.completed %}checked=checked {% endif %} />
          {{ todo.description}}
          <button class="delete-todo" data-todo-id="{{todo.id}}" >&cross;</button>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script type="text/javascript">
      function set_checkboxes() {
        const checkboxes = document.querySelectorAll(".check-completed");
        for (let i=0; i < checkboxes.length; i++) {
          checkbox = checkboxes[i];
          checkbox.onchange = function(e) {
            // console.log(e);
            const newCompleted = e.target.checked;
            const todoId = e.target.dataset.todoId;
            // console.log(`change on ${todoId}`)
            fetch(`/todos/${todoId}/set-completed`, {
              method: 'POST',
              body: JSON.stringify({
                'completed': newCompleted
              }),
              headers: {
                'Content-Type': 'application/json '
              }
            })
            .then(function() {
              document.getElementById('error').className = 'hidden';
            })
            .catch(function(error) {
              console.log('error happened', error);
              document.getElementById('error').className = '';
              document.getElementById('error').innerHTML = error;
            })
          }
        }
      }

      function set_deletes() {
      const crosses = document.querySelectorAll(".delete-todo");
        for (let i=0; i < crosses.length; i++) {
          checkbox = crosses[i];
          checkbox.onclick = function(e) {
            // console.log(e);
            const todoId = e.target.dataset.todoId;
            // console.log(`change on ${todoId}`)
            fetch(`/todos/${todoId}`, {
              method: 'DELETE'
            })
            .then(function() {
              document.getElementById('error').className = 'hidden';
              location.reload();
            })
            .catch(function(error) {
              console.log('error happened', error);
              document.getElementById('error').className = '';
              document.getElementById('error').innerHTML = error;
            })
          }
        }
      }

      set_checkboxes();
      set_deletes();
      document.getElementById("form").onsubmit = function(e) {
        e.preventDefault();
        document.getElementById('error').className = 'hidden';

        fetch('/lists/{{active_list.id}}/todos', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value
          }),
          headers: {
            'Content-Type': 'application/json '
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log(jsonResponse);
          todo_id = jsonResponse['id'];

          let liItem = document.createElement('LI');

          let checkbox = document.createElement('input');
          checkbox.setAttribute("type", "checkbox");
          checkbox.setAttribute("class", "check-completed");
          checkbox.setAttribute("data-todo-id", todo_id );

          var label = document.createElement('label');
          label.appendChild(document.createTextNode(" " + jsonResponse['description']));

          let delButton = document.createElement('button');
          delButton.setAttribute("data-todo-id", todo_id );
          delButton.setAttribute("class", "delete-todo");
          delButton.innerHTML = "&cross;";
          console.log(delButton);

          r = liItem.appendChild(checkbox);
          r = liItem.appendChild(label);
          r = liItem.appendChild(delButton);

          list = document.getElementById('todos').appendChild(liItem);
          set_checkboxes();
          set_deletes();
        })
        .catch(function(error) {
          console.log('error happened', error);
          document.getElementById('error').className = '';
          document.getElementById('error').innerHTML = error;
        })
      }
    </script>
  </body>
</html>
